.imageItem {
    margin-right: .25em;
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 500rem;
    background: url("./../images/logo.jpg") center center no-repeat;
}

.crossCart{
    width: 20px;
    height:20px;
}

.textCart{
    display: flex;
    flex-direction: row;
    border-color: yellow;
    border-style: groove;
}
.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
}

.titleCart{
    width: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.crossCart{
    display: flex;
    justify-content: center
}